@using Microsoft.AspNetCore.Identity;
@inject SignInManager<IdentityUser> _signInManager;
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>@ViewBag.Title</title>
    <link href="~/img/favicon.ico" rel="icon">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Nunito:wght@600;700;800&display=swap" rel="stylesheet">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="~/lib/animate/animate.min.css" rel="stylesheet">
    <link href="~/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <link href="~/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="~/css/style.css" rel="stylesheet">
</head>
<body>
    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top p-0">
        <a href="/Home/Index" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
            <h2 class="m-0 text-primary"><i class="fa fa-book me-3"></i>LearnHub</h2>
        </a>
        <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto p-4 p-lg-0">
                <a href="/Home/Index" class="nav-item nav-link active">Home</a>
                <a href="/Home/About" class="nav-item nav-link">About</a>
                <a href="/Course/Index" class="nav-item nav-link">Courses</a>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Pages</a>
                    <div class="dropdown-menu fade-down m-0">
                        <a href="/Instructor/Index" class="dropdown-item">Our Team</a>
                        @if (_signInManager.IsSignedIn(User))
                        {
                            <a href="/Account/MyAccount" class="dropdown-item">My Account</a>

                            <a href="/Course/MyFavorite" class="dropdown-item">My Favorite</a>


                        }
                        @if (User.IsInRole("Admin"))
                        {
                            <a href="/Admin/Index" class="dropdown-item">Admin Page</a>
                        }


                    </div>
                </div>
                @* @if (User.IsInRole("Admin"))
                {
                <a href="/Instructor/Confirm" class="nav-item nav-link">Confirm</a>
                }

                @if (User.IsInRole("User"))
                {
                <a href="/Instructor/Requist" class="nav-item nav-link">Requist</a>
                } *@



            </div>
            @if (!_signInManager.IsSignedIn(User))
            {
                <a href="/Account/Login" class="btn btn-primary py-4 px-lg-5 d-none d-lg-block">Login<i class="bi bi-box-arrow-in-right ms-3"></i></a>

            }
            @if (_signInManager.IsSignedIn(User))
            {
                <a href="/Account/Logout" class="btn btn-primary py-4 px-lg-5 d-none d-lg-block">Logout<i class="bi bi-box-arrow-left ms-3"></i></a>

            }

        </div>
    </nav>
    <!-- Navbar End -->

    <div>
        @RenderBody()
    </div>
    @await Component.InvokeAsync("NToastNotify")
</body>

</html>
