@model EditeRoleViewModel
@{
    ViewData["Title"] = "EditeRole";
    Layout = "_AdminLayout";
}

<link href="~/css/Style2.css" rel="stylesheet" />

<hr />
<div class="ml">
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditeRole" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RoleName" class="control-label"></label>
                <input asp-for="RoleName" class="form-control" />
                <span asp-validation-for="RoleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-lg btn-outline-primary" />
                <a asp-action="RolesList" class="btn btn-lg btn-default">Cancel</a>
            </div>
        </form>
    </div>
</div>

<div class="card">
    <div class="card-header">Users in this role</div>
    <div class="card-body">
        @if (Model.Users.Any())
        {
            @foreach (var user in Model.Users)
            {
                <span>@user</span> <br />
            }
        }
        else
        {
            <div>
                No User in this role
            </div>
        }

    </div>
    <div class="card-footer">
        <a asp-action="UserRole" asp-route-id="@Model.RoleId" class="btn btn-lg btn-outline-primary">Add/Remove User</a>
    </div>
</div>
</div>



