@model ChangePasswordViewModel
@{
    ViewData["Title"] = "ChangePassword";
}

<link href="~/css/MyAccount.css" rel="stylesheet" />
<form asp-action="ChangePassword" method="post">
    <div class="bp2">
    <div class="container light-style flex-grow-1 container-p-y">

        <h4 class="font-weight-bold py-3 mb-4">
            Change Password
        </h4>

        <div class="card overflow-hidden">
            <div class="row no-gutters row-bordered row-border-light">
                <div class="col-md-3 pt-0">
                    <div class="list-group list-group-flush account-settings-links">
                        <a class="list-group-item list-group-item-action active" data-toggle="list" asp-action="MyAccount">General</a>
                            <a class="list-group-item list-group-item-action" data-toggle="list" asp-action="Changepassword">Change password</a>
                        </div>

                    </div>
                
                <div class="col-md-9">
                    <div class="tab-content">
                        <div class="tab-pane fade active show" id="account-general">
                            <hr class="border-light m-0">
                            <div class="form-group">
                                    <label for="OldPassword" style="color:black"><i class="bi bi-key me-1"></i>Current password</label>
                                <input type="password" id="OldPassword" name="OldPassword" class="form-control" />
                                    <span asp-validation-for="OldPassword" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                    <label for="NewPassword" style="color:black"><i class="bi bi-key me-1"></i>New Password</label>
                                <input type="password" id="NewPassword" name="NewPassword" class="form-control" />
                                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                    <label for="ConfirmPassword" style="color:black"><i class="bi bi-key me-1"></i>Repeat new password</label>
                                <input type="password" id="ConfirmPassword" name="ConfirmPassword" class="form-control" />
                                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>

                                <button type="submit" class="btn btn-outline-primary" style="margin-top:5px">Change Password</button>

                        </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        </div>
  

</form>



