
@{
    ViewData["Title"] = "ConfirmEmail";
}
<link href="~/css/style2.css" rel="stylesheet" />
<div class="padingbutton">
<form asp-action="ConfirmEmail" method="post">
   
        <h1>
            Thank you for confirming your email.

        </h1>
    
</form>

</div>
