@model IEnumerable<Courses>
@{
    ViewData["Title"] = "Soft";
    Layout = "_AdminLayout";
}
<link href="~/css/style2.css" rel="stylesheet" />
<div class="ml2">
<form asp-action="Restore" method="post">
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h6 class="section-title bg-white text-center text-primary px-3">Courses</h6>
                <h1 class="mb-5">Deleted Courses</h1>
            </div>
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
        </div><br />
        <div class="row g-4 justify-content-center">
            @foreach (var item in Model)
            {
                if (item.IsDeleted == true)
                {
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="course-item bg-light">
                            <div class=" overflow-hidden">
                                @if (item.FileDataImage == null)
                                {
                                    <img class="img-fluid" src="~/img/noUser.png" alt="">
                                }
                                <div class="img">
                                        <img class="img-fluid" width="500" controls src="data:image/png;base64,@Convert.ToBase64String(item.FileDataImage)" alt="Image" />
                                </div>
                                <div class="w-100 d-flex justify-content-center position-absolute bottom-0 start-0 mb-4">
                                </div>
                            </div>
                            <div class="text-center p-4 pb-0">
                                <h5 class="mb-4">@item.CoursesName</h5>
                            </div>
                            <div class="d-flex border-top">
                                <small class="flex-fill text-center border-end py-2"><i class="fa fa-user-tie text-primary mr-2"></i>@item.InstructorName</small>
                                <small class="flex-fill text-center border-end py-2"><i class="fa fa-clock text-primary mr-2"></i>@item.Hours</small>
                            </div>
                                <div class="d-flex border-top">
                                <small class="flex-fill text-center border-end py-2"><a asp-action="Restor" asp-controller="Course" class="btn " asp-route-id="@item.CoursesId">Restor</a> </small>
                           </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>

    </form>
</div>